*, ::before, ::after {
  box-sizing: border-box; }

html, body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font: 400 16px "Josefin Sans", sans-serif;
  background-color: Gray97;
  background-color: #f9fafa; }
  @media screen and (min-width: 1400px) {
    html, body {
      background: url(https://raw.githubusercontent.com/cmb347827/base-apparel-coming-soon-master-github.io/main/bg-pattern-desktop.svg) repeat fixed; } }

h1 {
  font-weight: 600;
  letter-spacing: 13px; }
  h1 span {
    color: LightCoral;
    color: #ce9797;
    font-weight: 300; }

main {
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center; }
  main .container {
    width: 375px;
    border: 2px solid #f1f2f3;
    height: 100%;
    padding: 0;
    margin: 0; }
    main .container .resize {
      width: 130px;
      height: 45px; }
      @media screen and (min-width: 1400px) {
        main .container .resize {
          position: relative;
          left: 120px; } }
    main .container form p:nth-of-type(1), main .container form label {
      color: LightCoral;
      color: #ce9797;
      line-height: 26px; }
    main .container form label {
      margin: -10px 0 0 0; }
    main .container form .input[type='email'] {
      height: 50px;
      width: 400px;
      border-radius: 12px;
      border: 1px solid #ce9797; }
      main .container form .input[type='email']:focus {
        border: 2px solid black;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none; }
      main .container form .input[type='email']::placeholder {
        color: LightCoral;
        color: #ce9797; }
    @media screen and (min-width: 1400px) {
      main .container form p:nth-of-type(1), main .container form label {
        line-height: 2rem; } }
    main .container button {
      box-shadow: 0px 5px 15px #f96262;
      border-radius: 30%;
      border: none; }
    main .container #check-input {
      background-color: Crimson;
      background-color: #fcabab;
      background-color: linear-gradient(135deg, white, #fff5f5);
      margin: 0 0 0 -30px;
      width: 60px; }
      @media screen and (min-width: 1400px) {
        main .container #check-input {
          width: 100px;
          margin: 0 0 0 -50px; }
          main .container #check-input:hover, main .container #check-input:active {
            background-color: LightCoral;
            background-color: #e0bdbd;
            background-color: linear-gradient(135deg, #f8bfbf, #ee8c8c); } }
    main .container .error {
      display: none;
      position: relative;
      bottom: 40px;
      left: 17rem; }
      @media screen and (min-width: 1400px) {
        main .container .error {
          left: 20rem; } }
    main .container .image {
      overflow: auto; }
      main .container .image #mobile {
        display: none; }
      main .container .image #desktop {
        display: none; }
      @media screen and (max-width: 1399px) {
        main .container .image #mobile {
          display: block;
          width: 100%;
          margin: 50px 0; } }
      @media screen and (min-width: 1400px) {
        main .container .image #desktop {
          display: block;
          width: 100%;
          height: 80vh; } }
  @media screen and (min-width: 1400px) {
    main .container {
      width: 1400px; } }

footer .attribution {
  font-size: 11px;
  text-align: center; }
footer .attribution a {
  color: #3e52a3; }

/*# sourceMappingURL=base-apparel-coming-soon-master.css.map */
